body {
  /* padding: 2em; */
  background: #f9f9f9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #334554;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.todo {
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(27, 31, 35, 0.1);
  border: 1px solid #e1e4e8;
  overflow: hidden;
}

.td-title {
  background: whitesmoke;
  padding: 0.6em 0.8em 0.7em;
  font-weight: 300;
  text-align: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #934ba1;
  font-size: 42px;
}

.input {
  width: 100%;
  padding: 18px 20px;
  font-size: 18px;
  border: 0;
  letter-spacing: 0.6px;
  font-family: inherit;
  font-weight: 300;
  color: #834091;
}

::-webkit-input-placeholder {
  color: #e6e6e6;
}

.input:focus {
  outline: 0;
  outline: 2px solid #da9ae7;
}

.todo-item {
  width: 100%;
  list-style: none;
  padding: 0 1em;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border-top: 1px solid #e4e4e4;
  color: #503c5a;
  user-select: none;
  display: flex;
  align-items: center;
}

.todo-item label {
  padding: 1em 0 1em;
  flex: 1;
  cursor: pointer;
}
.todo-item label > input[type="checkbox"] {
  margin-right: 10px;
}
.todo-item label > input[type="checkbox"]:checked ~ span {
  text-decoration: line-through;
  font-style: italic;
  opacity: 0.4;
}

.dlt {
  color: #f64242;
  font-weight: 500;
  cursor: pointer;
  font-size: 25px;
  background: none;
  border: 0;
  transition: 0.3s;
}
