.grid-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 1em;
}

.item {
  padding: 14px;
  background: slategray;
  color: #eee;
  border-radius: 3px;
  cursor: default;
  font-size: 18px;
  text-align: center;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: 300ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: 300ms ease-in;
}
