.wrapper {
  max-width: 500px;
  margin: 0 auto;
  font-size: 15px;
  color: #376489;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #c0c0c0;
  background: #fff;
  letter-spacing: 0.5px;
  height: 40px;
}

.input:focus {
  background: ghostwhite;
  outline: 1px solid lightblue;
  border-color: lightblue;
}

.list {
  padding-left: 0;
  list-style: none;
  margin: 1rem 0;
}

.item {
  padding: 12px 14px 10px;
  display: block;
  font-size: inherit;
  width: 100%;
  text-align: left;
  background: cadetblue;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 0;
  border-bottom: 2px solid darkcyan;
  transition: 0.3s ease;
  letter-spacing: 0.5px;
  user-select: none;
}

.item:hover {
  opacity: 0.9;
}

.item:focus {
  outline: 3px solid gold;
}

.list-enter {
  opacity: 0.01;
  transform: translateY(22px);
}

.list-enter.list-enter-active {
  opacity: 1;
  transition: 300ms ease-out;
  transform: translateY(0);
}

.list-leave {
  opacity: 1;
}

.list-leave.list-leave-active {
  opacity: 0.01;
  transition: 200ms ease-out;
  transform: translateX(14px);
}
