.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.4rem 2rem;
  background: #fff;
  transition: 0.2s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  z-index: 1;
}

.main {
  min-height: 2000px;
  padding-top: 100px;
  background: #f7f7f7;
}

.footer {
  padding: 1rem 0;
  background: #312;
  color: #f8f8f8;
  text-align: center;
}

.header.scrolled {
  padding: 0.8rem 2rem;
}

.sign {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 300;
  font-size: 1.8rem;
  pointer-events: none;
  letter-spacing: 2px;
  animation: cim-cim 2s infinite;
}

@keyframes cim-cim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
