.game {
  display: flex;
  justify-content: center;
  padding-top: 3em;
}

.board {
  display: flex;
  flex-direction: column;
  padding: 1.4em 2em 2em;
}

.status {
  font-size: 22px;
  margin-top: 0;
  color: #464475;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.square {
  border: 1px solid #d6d6d6;
  background: #fff;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  text-shadow: 0 1px 1px rgb(94, 106, 212);
  width: 74px;
  height: 70px;
  line-height: 70px;
  font-size: 27px;
  font-weight: bold;
  margin-left: -1px;
  margin-top: -1px;
  color: #723e1f;
}

.square.x-color {
  color: #caa394;
}

.square:focus {
  outline: 0;
  background: #f6f6f6;
}
