.demo {
  max-width: 910px;
  margin: 0 auto;
  padding: 1rem;
}

.article {
  background: #fff;
  padding: 20px 30px;
  border-top: 3px solid #b4a5c9;
  background-clip: padding-box;
  border-radius: 2px;
  margin: 20px 0 30px;
  list-style: none;
  box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.12);
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-name: move-up;
  animation-play-state: running;
  animation-direction: normal;
  animation-timing-function: ease-in;
  perspective: 1000px;
  will-change: transform;
}

.article:nth-child(2) {
  animation-direction: normal;
  animation-duration: 400ms;
}

.article:nth-child(3) {
  animation-direction: normal;
  animation-duration: 500ms;
}

.article > h3 {
  margin-top: 0;
  font-size: 1.4em;
  margin-bottom: 16px;
}

.article > p {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #444;
  line-height: 1.5;
}

.article span {
  font-weight: bold;
  color: slategrey;
  border-bottom: 1px solid rgb(147, 147, 160);
}

@keyframes move-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 0.5rem, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
