/* header */
.header {
  background: #fff;
  border-bottom: 1px solid #eaeaea;
  padding: 1rem 40px;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 1.4rem;
  font-variant: small-caps;
  color: #331586;
  font-weight: 400;
}

/* search section */
.search-section {
  padding: 4rem 40px;
  background: #f8f8f8;
  text-align: center;
  margin-bottom: 1rem;
}

.search-input {
  border: 1px solid #d6d6d6;
  padding: 8px 10px;
  font-size: 1.05rem;
  color: #525252;
  max-width: 220px;
  border-radius: 4px 0 0 4px;
}

.select-amount {
  border-radius: 0 4px 4px 0;
  font-size: 1.05rem;
  padding: 8px 16px 8px 12px;
  color: #777;
  border: 1px solid #d6d6d6;
  border-left: 0;
  appearance: none;
}

::-webkit-input-placeholder {
  color: #ccc;
}

/* .search-input:focus {
  background: ghostwhite;
} */

/* image container */
.image-container {
  max-width: 94%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  align-items: start;
  padding: 20px;
  /* -webkit-columns: 300px;
  grid-auto-flow: dense;
  columns: 300px;
  -webkit-column-gap: 0.5rem;
  column-gap: 0.5rem; */
}

.image-box {
  border-radius: 3px;
  background: whitesmoke;
  overflow: hidden;
}

.image-box p {
  font-size: 14px;
  padding: 0 10px;
  line-height: 1.5;
}

.image-box img {
  max-width: 100%;
  cursor: pointer;
  display: block;
}

/* modal */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.preview {
  width: 100%;
  max-width: 1000px;
  max-height: 640px;
  height: 100%;
  position: relative;
}

.prev-close {
  position: absolute;
  right: -34px;
  top: -36px;
  cursor: pointer;
  background: none;
  border: 0;
}

.modal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  /* border: 3px solid #fefefe; */
}

/* transition for modal */
.modal-enter {
  opacity: 0.01;
}

.modal-enter.modal-enter-active {
  opacity: 1;
  transition: 200ms ease-in;
}

.modal-leave {
  opacity: 1;
}

.modal-leave.modal-leave-active {
  opacity: 0.01;
  transition: 100ms ease-out;
}
