@font-face {
  font-family: "edgeicons";
  src: url("./fonts/edge-icons-Regular.woff");
}

body {
  background: #edf0f3;
}

a {
  text-decoration: none;
}

.container-tw {
  max-width: 588px;
  width: 100%;
  margin: 20px auto;
  background: #fff;
}

.tweet {
  padding: 9px 12px 12px 70px;
  background: #fff;
  color: #14171a;
  font-size: 14px;
  font-family: "Segoe UI", Arial, sans-serif;
  border: 1px solid #e6ecf0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-wrapper {
  position: relative;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  left: -58px;
  top: 2px;
}

.user-link:hover .user-title {
  text-decoration: underline;
  opacity: 0.9;
}

.username {
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
}

.user-title {
  font-weight: bold;
  color: #242424;
}

.user-title2 {
  font-weight: 300;
  color: #657786;
}

.tw-text {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 20px;
}

.twt-link {
  color: #313131;
}

.twt-link:hover {
  text-decoration: underline;
}

.mediaimg {
  max-width: 100%;
  border-radius: 5px;
  display: block;
}

.action-btns {
  display: flex;
  margin-top: 14px;
}

.tw-btn {
  background: none;
  border: 0;
  color: #657786;
  display: flex;
  align-items: flex-end;
  padding: 0 2px;
  margin-right: 38px;
}

.twicon {
  font-family: "edgeicons";
  font-size: 18px;
  line-height: 18px;
  margin-right: 12px;
  display: inline-block;
}
.rply-icon:after {
  content: "\f151";
}
.retweet-icon:after {
  content: "\f152";
}
.favorite-icon:after {
  content: "\f148";
}
.message-icon:after {
  content: "\f054";
}

.twt-count {
  color: #657786;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  margin-left: 2px;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
