.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}

.heroes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: minmax(160px, auto);
  grid-gap: 1.4rem;
  padding: 2rem 0;
}

.hero-card {
  border: 5px solid sandybrown;
  max-width: 418px;
  border-radius: 5px;
  padding: 1.5rem;
  padding-top: 2.3rem;
  position: relative;
  cursor: pointer;
  background: seashell;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.hero-delete {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 3px;
  padding: 6px 10px;
  background: #f44336;
  color: #fff;
  border: 0;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-editor {
  border-radius: 4px;
  padding: 1rem 2rem;
  max-width: 500px;
  max-height: 300px;
  margin-top: -2.5rem;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid #b6abf8;
}

.hero-editor label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label-helper {
  margin-right: 6px;
}

.hero-input {
  flex: 1;
  max-width: 270px;
  border: 1px solid #b6abf8;
  padding: 10px;
  font: inherit;
  border-radius: 3px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
