.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}

.heroes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.4rem;
  padding: 1rem 0;
}

.hero-card {
  border: 1px solid #eaeaea;
  max-width: 418px;
  background: #fff;
  border-radius: 5px;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.15);
}

.hero-delete {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 3px;
  padding: 6px 10px;
  background: #f44336;
  color: #fff;
  border: 0;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-editor {
  /* border: 2px solid cornflowerblue; */
  border-radius: 4px;
  display: inline-block;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  background: whitesmoke;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.hero-editor label {
  display: flex;
  align-items: center;
}

.label-helper {
  flex: 1;
  margin-right: 6px;
}

.hero-input {
  border: 1px solid #eaeaea;
  padding: 10px;
  border-radius: 3px;
  color: #424242;
  width: 230px;
}
