* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe Ui", sans-serif;
  color: #454545;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

ul {
  padding-left: 0;
  list-style-position: inside;
}
