* {
  box-sizing: border-box;
}

body {
  color: #343434;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #fbfbfb;
}

h1,
h2,
h3 {
  font-weight: 500;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}
