* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Segoe Ui", sans-serif;
  color: #343434;
  background-color: whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: cadetblue;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

ul {
  padding-left: 0;
  list-style-position: inside;
}
/*
.container {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
} */
