.tabl {
  margin: 26px 0;
  width: 100%;
}

.tabl,
td,
th {
  border: 1px solid #c5c5c5;
  border-collapse: collapse;
}

.tabl td {
  padding: 0.8em 1em;
  text-align: left;
  width: 25%;
}

.tabl th {
  padding: 0.4em 1em;
  text-align: left;
  background: #dedede;
}

.header-cat {
  max-width: 940px;
  margin: auto;
}

.select-opt {
  display: block;
  margin: 14px 0 40px;
}
