/* modal starts here */

.modal-enter {
  opacity: 0.01;
}

.modal-enter.modal-enter-active {
  opacity: 1;
  transition: 0.4s;
}

.modal-leave {
  opacity: 1;
}

.modal-leave.modal-leave-active {
  opacity: 0.01;
  transition: opacity 0.2s;
}

.message {
  width: 100%;
  max-width: 600px;
  background: #fff;
  position: relative;
  border-radius: 3px;
  padding: 1.2em 2em 1.6em;
  border: 1px solid #eee;
  border-left: 9px solid slateblue;
  transition: 0.3s;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.15);
}

.modal-enter .message {
  transform: translate(0, 40px);
}
.modal-enter.modal-enter-active .message {
  transform: translate(0, 0px);
}

.modal-leave .message {
  transform: translate(0, 0px);
}

.modal-leave.modal-leave-active .message {
  transform: translate(0, 40px);
}
